<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="contineo-lang-zh" version="1.0.0" class="org.contineo.plugin.language.zh_CN.ChinesePlugin">
	<requires>
		<import plugin-id="contineo-core" />
	</requires>	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="contineo-core" point-id="Language" id="zh_CNLanguage">
		<parameter id="languageKey" value="zh_CN" />
		<parameter id="stopWordsFile" value="org/contineo/plugin/language/zh_CN/stop_zh_CN.txt" />
	</extension>
</plugin>
